<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Subjects</title>
    </head>
    <body>
        <header th:replace="fragments/navigation :: header"></header>
        
        <div align="center">
        <h2>Subjects:</h2>
            <table th:each="subject : ${subjects}">
                <tbody>
                    <tr>
                        <td>
                            <a th:href="@{/subjects/{id}/entries (id=${subject.id})}">
                                <h3 th:text="${subject.name}" id="subentries"></h3>
                            </a>
                        </td>
                        <td>
                            <form th:action="@{/subjects/{id}(id=${subject.id})}" th:method="GET">
                                <input type="submit" value="Edit" id="edit"/>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/subjects/{id}(id=${subject.id})}" th:method="DELETE">
                                <input type="submit" value="Delete" id="delete"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        <h2>Add new subject:</h2>

        <form method="POST" th:action="@{/subjects}">
            <input type="text" name="name" id="subname"/>
            <input type="submit" value="Add" id="add"/>
        </form>
        </div>
    </body>

</html>
